body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; 
}

body {
  font: 400 16px/1.5 'Merriweather', serif;
  color: #111;
  background-color: #FFFFFF;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  width: 100%;
  min-height: 100%; 
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 15px; 
}

a {
  text-decoration: none; 
}

a:hover {
  color: #111;
  text-decoration: none;
  cursor: pointer; 
}

/* Header */

.header {
  border-top: 1px solid #383838;
  border-bottom: 1px solid #B3B3B3;
  border-right: 1px solid #727272;
  border-left: 1px solid #727272;
  min-height: 55.95px;
  position: relative; 
}

.page-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
  padding-right: 20px;
  padding-left: 20px;
  float: left; 
}

.page-title:hover {
  background: #FCFBFB;
}

.page-title, .page-title:visited {
  color: #634646; 
}

.navbar {
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: #746262;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #F3F3F3;
  color: #635555;
}

.navbar .icon {
  display: none;
}

.content {
  height: 80%;
}

.footer {
  border-top: solid 1px #B3B3B3;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 40px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.icon {
  text-indent: -1000vw;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  border: 0;
  margin: 0;
  width: 3em;
  height: 2em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

footer .icon {
  width: 2em;
  height: 2em;
}

.icon-npmjs {
  background-image: url("npmjs.svg");
}
.icon-github {
  background-image: url("github.svg");
}

.icon-mail {
  background-image: url("mail.svg");
}

.icon-vitae {
  background-image: url("octicon-person.svg");
}
