body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; 
}

body {
  font: 400 16px/1.5 'Roboto', sans-serif;
  color: #111;
  background-color: #FFFFFF;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; 
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 15px; 
}

a {
  color: #2a7ae2;
  text-decoration: none; 
}
a:visited {
  color: #1756a9; 
}
a:hover {
  color: #111;
  text-decoration: none;
  cursor: default; 
}

.header {
  border-top: 1px solid #383838;
  border-bottom: 1px solid #B3B3B3;
  border-right: 1px solid #727272;
  border-left: 1px solid #727272;
  min-height: 55.95px;
  position: relative; 
}

.page-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; 
}

.page-title, .page-title:visited {
  color: #634646; 
}
